{% extends 'base.html' %}
{% block content %}


	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-90">
				<form class="login100-form validate-form flex-sb flex-w" method="POST" action="/registrar_solicitud_de_estudiante/">
					<span class="login100-form-title p-b-51">
						Rellenar para enviar solicitud de registro de estudiante
					</span>
					<span class="login100-form-title p-b-51">
						{{ mensage_general }}
					</span>

					
					<div class="wrap-input100 validate-input m-b-16" data-validate="Nombre is required">
						<input class="input100" type="text" name="Nombre" placeholder="Nombre Usuario" >
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-16" data-validate="Apellido is required">
						<input class="input100" type="text" name="Apellido" placeholder="Apellido" >
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-16" data-validate="Identificacion is required">
						<input class="input100" type="text" name="Identificacion" placeholder="Identificación" >
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-16" data-validate="Edad is required">
						<input class="input100" type="number" name="Edad" placeholder="Edad" >
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-16" data-validate="Afinidad_magia is required">
						<!-- <input class="input100" type="text" name="Afinidad_magia" placeholder="Afinidad de magia"> -->
						<input list="Afinidad_magia" class="input100" name="Afinidad_magia" placeholder="Afinidad de magia">
						    <datalist id="Afinidad_magia">
					            <option value="Oscuridad" />
					            <option value="Luz" />
					            <option value="Fuego" />
					            <option value="Agua" />
					            <option value="Viento" />
					            <option value="Tierra" />
					        </datalist>
						<span class="focus-input100"></span>
					</div>

					<div class="container-login100-form-btn m-t-17">
						<button class="login100-form-btn">
							Enviar
						</button>
					</div>

				</form>
			</div>
		</div>
	</div>
{% endblock %}